<h1> Registered Students are </h1>
<table colspan="3">
  <tr>
    <td>Name</td>
    <td>Gender</td>
    <td>Age</td>
    <td>Phone no</td>
    <td>Address</td>
    <td>Password</td>
  </tr>
  <% @students.each do |student|  %>
    <tr>
      <td><%= student.name %></td>
      <td><%= student.gender %></td>
      <td><%= student.age %></td>
      <td><%= student.phoneno %></td>
      <td><%= student.address %></td>
      <td><%= student.password %></td>
      <td><%= link_to 'Show',"/students/#{student.id}", method: :get%></td>
      <td><%= link_to 'Destroy',"/students/#{student.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Create Students' , '/students/new' %>
