<table>
<tr>
<td>Name:</td>
<td>Gender:</td>
<td>Age:</td>
<td>Phone no:</td>
<td>Address:</td>
<td>Password:</td>
</tr>
<tr>
<td><%= @student.name %></td>
<td><%= @student.gender %></td>
<td><%= @student.age %></td>
<td><%= @student.phoneno %></td>
<td><%= @student.password %></td>

</table>